# Libreria per il wake word (Porcupine)
pvporcupine==2.2.0

# Libreria per acquisizione audio
PyAudio==0.2.13

# Librerie per Vosk ASR
vosk==0.3.45
numpy==1.25.2
scipy==1.11.3

# Libreria per fuzzy matching
rapidfuzz==3.14.1

# Librerie standard di utilità

# Libreria per beep cross-platform
simpleaudio
