# Libreria per il wake word (Porcupine)
pvporcupine==2.2.0

# Libreria per acquisizione audio
PyAudio==0.2.13

# Librerie per Vosk ASR
vosk==0.3.62
numpy==1.25.2
scipy==1.12.1

# Libreria per fuzzy matching
rapidfuzz==3.2.2

# Librerie standard di utilità
